[submodule "spatialyze/video_processor/modules/monodepth2"]
	path = spatialyze/video_processor/modules/monodepth2
	url = git@github.com:apperception-db/monodepth2.git
	branch = pip-module
[submodule "spatialyze/video_processor/modules/yolo_tracker"]
	path = spatialyze/video_processor/modules/yolo_tracker
	url = git@github.com:apperception-db/Yolov5_StrongSORT_OSNet.git
	branch = module
