__MACOSX
__pycache__
.DS_Store
.ipynb_checkpoints

yolov4-deepsort
yolov5-deepsort
.mypy_cache
.pytest_cache
.idea
output
.apperception_cache
env
.venv
.coverage

*.csv
*.pickle
maps
samples
sweeps
v1.0-mini
*.pickle

*.json
data/nuscenes
