__MACOSX
__pycache__
.DS_Store
.ipynb_checkpoints

yolov4-deepsort
yolov5-deepsort
.mypy_cache
.pytest_cache
.idea
output
.venv
.coverage
coverage.xml
.virtual_documents

*.pickle
maps
samples
sweeps

data/v1.0-mini
data/nuscenes
data/scenic/road_network

models

weights

outputs

yolov5s.pt
