[submodule "monodepth2"]
	path = submodules/monodepth2
	url = git@github.com:apperception-db/monodepth2.git
	branch = pip-module
[submodule "yolo_tracker"]
	path = submodules/yolo_tracker
	url = git@github.com:apperception-db/Yolov5_StrongSORT_OSNet.git
	branch = module
